.form {
  display: flex;
  flex-direction: column;
}

.form div {
  margin-bottom: 14px;
}

.formInput,
.formTextarea {
  width: 100%;
}

.formInput {
  font-size: 16px;
  height: 24px;
}

.formTextarea {
  height: 120px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  background-color: peachpuff;
  border: 1px solid;
  border-radius: 10px;
  padding: 6px;
  width: 25%;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  overflow-y: auto;
  padding: 10px;
}

.results p {
  border: 1px solid;
  margin-top: 10px;
  padding: 10px;
}

@media (min-width:1024px) {
  .form {
    column-gap: 20px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;
  }

  .form div {
    display: flex;
    flex-direction: column;
  }

  .form .buttons {
    flex-direction: row;
  }

  .results {
    flex-direction: row;
  }

  .results p {
    margin-top: 0px;
    width: 400px;
  }
}